
<mat-toolbar color="primary">
  <button mat-button routerLink="/index"> Webshop</button>
  <button mat-button routerLink="/aruk">Aruk listázása</button>
  <div *ngIf="authService.isLoggedIn">
    <button mat-button routerLink="/chart">Kosár listázása</button>
    <button mat-button (click)="logout()">Logout</button>
  </div>
  <div *ngIf="!authService.isLoggedIn">
    <button mat-button routerLink="/login">Belépés</button>
  </div>
  <div *ngIf="authService.isLoggedIn">
    <button mat-button routerLink="/reg">Adatmódosítás</button>
  </div>
</mat-toolbar>

<p>*</p>

<router-outlet></router-outlet>
