/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey ;
 }

 .button {
     margin-top: 20px;
     padding: 20px;
} 

.szuro {
    margin: 20px;
    padding: 20px;
} 
