
  <div>
      <app-aruk-filter
      (filterSubmit)="addMire($event)"
      (filterSubmit2)="addMi($event)"
      [selectName]="'Szűrés'"
      [filterName]="'Érték'"
      ></app-aruk-filter>
  </div>

<p>
    Rendezés:
<mat-form-field  class = "szuro">
    <select matNativeControl  [(ngModel)]="rendez" >
      <option [value]="'nev'">  név szerint </option>
      <option [value]="'ar'">  Ár szerint </option>
    </select>
</mat-form-field>
</p>

<table>
  <thead>
    <th>Áru</th>
    <th>Típus</th>
    <th>Gyártó</th>
    <th>Ár</th>
    <th>Készleten</th>
    <th > kosárba </th>
  </thead>
  <tbody>
      <tr *ngFor = "let asd of warExample">
      <!--filter(mire,mi)"-->
          <td>{{asd.name}}</td>
          <td>{{asd.type}}</td>
          <td> {{asd.manufacturer}}</td>
          <td>{{asd.price}}</td>
          <td>{{asd.stock}}</td>
          <td>        
              <button  
              mat-button
              (click)="kosarba(asd,1)"
              >Kosárba!</button>
          </td>
      </tr>
  </tbody>
</table>