<p>
  aruk works!
</p>

  <div>
      <app-aruk-filter
      (filterSubmit)="addMire($event)"
      (filterSubmit2)="addMi($event)"
      [selectName]="'Szűrés'"
      [filterName]="'Érték'"
      ></app-aruk-filter>
  </div>

<p>
    Rendez:
<mat-form-field>
    <select matNativeControl  [(ngModel)]="rendez" >
      <option [value]="'nev'">  név szerint </option>
      <option [value]="'ar'">  Ár szerint </option>
    </select>
</mat-form-field>
</p>

<table>
  <thead>
    <th>Áru</th>
    <th>Típus</th>
    <th>Gyártó</th>
    <th>Ár</th>
    <th>Készleten</th>
  </thead>
  <tbody>
      <tr *ngFor = "let asd of filter(mire,mi)">
          <td>{{asd.name}}</td>
          <td>{{asd.type}}</td>
          <td> {{asd.manufacturer}}</td>
          <td>{{asd.price}}</td>
          <td>{{asd.stock}}</td>
      </tr>
  </tbody>
</table>